# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\repos\BierBot-Bricks-RaspberryPi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
